<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">fizzbuzz</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': isActive('/') }">
          <a href="/">
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <div ng-if="!isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/login">Login</a>
          </li>

          <li>
            <a href="/sign_up">Sign Up</a>
          </li>
        </ul>
      </div>

      <div ng-if="isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
