<div class="container">
    <spinner name="fizzbuzzSpinner">
        <div class="spinPage">
            <h3> Loading.... </h3>
        </div>
    </spinner>
    <div class="row">
        <div class="pull-left">
            <a ng-click="previousPage(pageSize)"
               ng-hide="results[0].value === 3">
                <h3>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous Page
                </h3>
            </a>
        </div>
        <div class="pull-right">
            <a ng-click="nextPage(pageSize)">
                <h3>
                    Next Page
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </h3>
            </a>
        </div>

    </div>
    <div class="col-sm-offset-3 col-sm-6">
        <div class="row well">
            <div class="col-xs-3">
                <h5 class="text-info">Fizz OR Buzz</h5>
            </div>
            <div class="col-xs-3">
                <h5 class="text-info">Number</h5>
            </div>
            <div class="col-xs-2">
                <h5 class="text-info">Favourite</h5>
            </div>
            <div class="col-xs-3 pull-right">
                <b class="text-info">Page Size</b>
                <input type="number"
                       min="1"
                       max="100000000000"
                       ng-model="pageSize"
                       class="form-control">
            </div>
        </div>
        <div ng-repeat="result in results">
                <div class="row">
                    <div class="col-xs-3">
                        <b>{{ result.name }}</b>
                    </div>
                    <div class="col-xs-3">
                        {{ result.value }}
                    </div>
                    <div class="col-xs-2"
                         ng-class="result.favourite ?  'text-success' : 'text-danger' ">
                        {{ result.favourite ?  'Yes' : 'No' }}
                    </div>
                    <div class="col-xs-4">
                        <button type="button"
                                ng-disabled="result.favourite === true"
                                ng-click="makeFavourite(result)"
                                ng-class="buttonCss(result)">
                            {{ buttonText(result) }}
                        </button>
                    </div>

                </div>
            <hr>
        </div>
    </div>
</div>
