body {
  background-color: white;
}

.spinPage {
  position: absolute;
  z-index: 10;
  background-color: transparentize(#cccccc, 0.5);
  height: 100%;
  width: 100%;
  right:  0;
  left:   0;
  top:    0;
  bottom: 0;

  h3 {
    width: 10%;
    margin: 10em auto;
    color: #0000FF;
  }
}
