<div class="container">
    <h4 class="text-center page-header"> Log In </h4>
    <div class="col-sm-offset-4 col-sm-4">
        <div class="row text-danger">
            {{ error_msg }}
        </div>
        <form>
            <div class="row">
                <label>
                    Email
                </label>
                <input type="text" ng-model="user.email" class="form-control">
            </div>
            <div class="row">
                <label>
                    Password
                </label>
                <input type="password" ng-model="user.password" class="form-control"/>
            </div>
            <div class="row">
                <br>
                <button ng-click="userLogin(user)" class="btn btn-block btn-success">
                    Log in
                </button>
            </div>
        </form>
    </div>
</div>